[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
discord-webhook = "*"
whitenoise = "*"
discord = "*"
django-discord-integration = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
